.w-100 {
  width: 25rem; /* 400px */
}

.w-104 {
  width: 26rem; /* 416px */
}

.w-108 {
  width: 27rem; /* 432px */
}

.w-112 {
  width: 28rem; /* 448px */
}

.w-116 {
  width: 29rem; /* 464px */
}

.w-120 {
  width: 30rem; /* 480px */
}
